.root{
    -fx-font-size: 16pt;
    -fx-font-family: "DJB Almost Perfect";
    -fx-base: rgb(132,145,47);
    -fx-background:rgb(225,228,203);
}
.title{
    -fx-font-size: 30px;
}
.button{
    -fx-font-size: 20px;

}